.signInSignUp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (max-width: 900px) {
  .signInSignUp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
