.about-image-container {
  overflow: hidden;
  border: 1px solid black;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-image {
    width: 30vw;

    &:hover {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      opacity: 0.95;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about-image-container {
    border: none;

    .about-image {
      width: 40vw;
      overflow: hidden;
      margin: 0 auto;
      &:hover {
        transform: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-image-container {
    border: none;

    .about-image {
      width: 90vw;
      margin: 0 auto;
      &:hover {
        transform: none;
      }
    }
  }
}
