.about-text {
  text-align: start;
  width: 50%;
  padding-left: 5%;

  &-heading {
    margin-left: 5%;
    font-style: italic;
    letter-spacing: 0.15rem;
    margin-bottom: 1.7rem;
    line-height: 2rem;
  }

  &-para {
    text-indent: 5%;
    hyphens: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .about-text {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
}
