.price-calculation {
  background-color: #1d2d44;
  color: #f0ebd8;
  text-align: center;
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
  padding-top: 50px;
  margin-top: -150px;

  .submit-button {
    display: flex;
    justify-content: center;
  }

  &-title {
    margin: 0;
    padding: 80px 0 30px 0;
    text-transform: uppercase;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
      letter-spacing: 0.2rem;
    }
  }

  &-form {
    padding-bottom: 130px;
  }
}

@media only screen and (max-width: 1024px) {
  .price-calculation {
    clip-path: none;
    margin-top: 0;

    &-title {
      margin-bottom: 10px;
      padding-top: 20px;
    }

    &-form {
      padding-bottom: 10px;
      width: 100%;
      display: block;
    }
  }
}
