.input-radio-group {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  margin: 15px;
  transition: all 0.5s;
  min-width: 200px;
  position: relative;

  .input-radio {
    display: none;
  }

  .label-radio {
    cursor: pointer;
    display: block;
  }

  .button-radio {
    height: 30px;
    width: 30px;
    border: 5px solid #0d1321;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 5px;

    &::after {
      content: "";
      display: block;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #0d1321;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  .input-radio:checked ~ .label-radio .button-radio::after {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .input-radio-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .button-radio {
      position: absolute;
      left: 35%;
      top: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .input-radio-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .button-radio {
      position: absolute;
      left: 30%;
      top: 5px;
    }
  }
}
