.btn {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 15px;
  letter-spacing: 0.24rem;
  padding: 0 35px 0 35px;
  height: 50px;
  cursor: pointer;
  border: none;
  margin-top: 35px;
  margin: 10px 30px;

  &:hover {
    background-color: #f0ebd8;
    color: black;
    border: 1px solid black;
  }
}
