.order-item-container {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .order-item-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 425px) {
  .order-item-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}
