.about {
  text-align: center;
  background-color: #f0ebd8;
  color: #1d2d44;
  margin-top: -16vh;
  padding-bottom: 130px;

  &-title {
    margin: 0;
    padding-top: 16vh;
    text-transform: uppercase;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
      letter-spacing: 0.2rem;
    }
  }

  &-container {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .about {
    margin-top: 0;
    padding-bottom: 0;

    &-container {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
    }

    &-title {
      padding-top: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    margin-top: 0;
    padding-bottom: 0;

    &-container {
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }

    &-title {
      padding-top: 10px;
    }
  }
}
