.card {
  background-color: #f0ebd8;
  color: #0d1321;
  padding: 20px 30px;
  margin: 10px 0;
  position: relative;
}

.card.dark {
  background-color: #1d2d44;
  color: #f0ebd8;
}

@media only screen and (max-width: 425px) {
  .card {
    background-color: #f0ebd8;
    color: #0d1321;
    padding: 20px 25px;
    margin: 10px 0;
    position: relative;
    width: 90%;
  }
}
