.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0d1321;

  .logo-container {
    height: 100%;
    padding: 25px;
    display: flex;
  }

  .logo {
    font-size: 50px;
    color: #f0ebd8;

    :hover {
      color: #dcdcc8;
    }
  }

  .title {
    margin: 0;
    padding-left: 25px;
    color: #f0ebd8;
    font-size: 40px;
  }

  .navigation-link-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navigation-link {
      padding: 10px 15px;
      color: #f0ebd8;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;

      :hover {
        color: #dcdcc8;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .title {
    display: none;
  }
}
