.header {
  height: 86vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#748cab, 0.9),
      rgba(#748cab, 0.5)
    ),
    url("../../assets/bannerPhoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

  &-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-heading-primery {
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    font-weight: bold;
    color: #0d1321;
    font-size: 40px;
  }

  &-heading-para {
    text-transform: uppercase;
    font-weight: lighter;
    color: #0d1321;
    letter-spacing: 0.15rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    clip-path: none;
    text-align: center;
  }
}
