.gallery {
  text-align: center;
  background-color: #f0ebd8;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  margin-top: -130px;

  &-header {
    margin: 0;
    padding-top: 16vh;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.05);
      letter-spacing: 0.2rem;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    & > * {
      margin: 5px;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .gallery {
    clip-path: none;
    margin-top: 0;

    &-header {
      padding-top: 10px;
    }

    &-container {
      display: flex;
    }
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    clip-path: none;
    margin-top: 0;

    &-header {
      padding-top: 10px;
    }

    &-container {
      display: block;
    }
  }
}
