.input-group {
  .input {
    background-color: #f0ebd8;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: inline-block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin: 15px;
    transition: all 0.5s;
    opacity: 1;
    min-width: 200px;
    width: 400px;
    position: relative;

    &:focus {
      outline: none;
      border-bottom: 1px solid lightgray;
      transition: all 0.5s;
    }

    &:focus ~ .label {
      opacity: 1;
      transition: all 0.5s;
      padding-left: 15px;
    }

    &:focus::placeholder {
      opacity: 0;
      transition: all 0.5s;
    }
  }

  .label {
    opacity: 0;
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .input-group {
    width: 100%;
    .input {
      margin: 0 auto;
      width: 70%;
      margin-top: 5px;

      &:focus ~ .label {
        opacity: 1;
        transition: all 0.5s;
        text-indent: 15%;
        text-align: start;
      }
    }
  }
}
