.footer-container {
  .logo {
    font-size: 50px;
    color: #f0ebd8;

    :hover {
      color: #dcdcc8;
    }
  }

  height: 300px;
  background-color: #0d1321;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0ebd8;
}

@media only screen and (max-width: 1024px) {
  .footer-container {
    height: 200px;
  }
}
