body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e5c76;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
